<body>
<mat-toolbar color="primary">
  <span>Preliminary Registration Form</span>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Tipo de Victima</mat-label>
    <mat-select formControlName="Victima">
      <mat-option value="Directa">Directa</mat-option>
      <mat-option value="Indirecta">Indirecta</mat-option>
      <mat-option value="Potencial">Potencial</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre(s)</mat-label>
    <input matInput formControlName="nombres">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Primer Apellido</mat-label>
    <input matInput formControlName="primer_apellido">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Segundo Apellido</mat-label>
    <input matInput formControlName="segundo_apellido">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha de Nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sexo</mat-label>
    <mat-select formControlName="sexo">
      <mat-option value="Hombre">Hombre</mat-option>
      <mat-option value="Mujer">Mujer</mat-option>
      <mat-option value="Otro">Otro</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>CURP</mat-label>
    <input matInput formControlName="curp">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nacionalidad</mat-label>
    <mat-select formControlName="nacionalidad">
      <mat-option value="Mexicana">Mexicana</mat-option>
      <mat-option value="Otro">Otro</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numero Telefonico</mat-label>
    <input matInput type="tel" formControlName="phone">
  </mat-form-field>

  <mat-accordion style="display: block;">
    <mat-expansion-panel style="display: block;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Direccion
        </mat-panel-title>
        <mat-panel-description>
          Datos de la direccion de la victima
        </mat-panel-description>
      </mat-expansion-panel-header>
  <mat-form-field>
    <mat-label>Calle</mat-label>
    <input matInput formControlName="calle">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numero Exterior</mat-label>
    <input matInput formControlName="num_ext">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numero Interior</mat-label>
    <input matInput formControlName="num_int">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Codigo Postal</mat-label>
    <input matInput formControlName="zip">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Colonia</mat-label>
    <input matInput formControlName="colonia">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Delegacion o Municipio</mat-label>
    <input matInput formControlName="delegacion">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select formControlName="estado">
      <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-expansion-panel>
</mat-accordion>

  <button mat-raised-button type="submit">Submit</button>
</form>
</body>

<input type="text" [(ngModel)]="searchTerm" placeholder="Enter userId">
<button (click)="search()">Search</button>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>{{appointments.date}}</td>
    <td>{{appointments.time}}</td>
    <td>{{appointments.location}}</td>
  </tr>
</table>
